<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.dao.OrderMapper">
	<resultMap type="com.chinasoft.pojo.Ordermessage" id="OrderMap">
		<id column="oid" property="oid" />
		<result column="otime" property="otime" />
		<result column="osuretime" property="osuretime"/>
		<result column="kd" property="kd"/>
		<result column="address" property="address"/>
		<result column="omoney" property="omoney"/>
		<result column="ostatus" property="ostatus"/>
		<result column="otype" property="otype"/>
		<association property="u" column="uid" javaType="com.chinasoft.pojo.Users" select="com.chinasoft.dao.UsersMapper.getUserById"/>
	</resultMap>

	<sql id="s1">
		select * from Ordermessage
	</sql>
	<select id="showAllOrder" resultMap="OrderMap">
		<include refid="s1"/>
	</select>
	<select id="showALLOrderByUid" resultMap="OrderMap" parameterType="int">
		<include refid="s1"/> where uid=#{uid}
	</select>
</mapper>